AI_cold_email_solution.json
{
  "name": "AI_cold_email_solution",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "67e40f74-ad7d-4441-8a9e-13285015d2e2",
      "name": "Daily at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HGGw4AsgsrU3tv9iJnDbxsw-fvYyTDkSmeMF5YeMgtE",
          "mode": "list",
          "cachedResultName": "USA Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGGw4AsgsrU3tv9iJnDbxsw-fvYyTDkSmeMF5YeMgtE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1599563864,
          "mode": "list",
          "cachedResultName": "Outreach Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGGw4AsgsrU3tv9iJnDbxsw-fvYyTDkSmeMF5YeMgtE/edit#gid=1599563864"
        },
        "options": {}
      },
      "id": "933970d3-b07c-475d-a704-dfa1b01cf4cb",
      "name": "Read Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WDKIfNajZLEv2DbR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json['Email Sent'] }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "id": "3d902761-2779-40a0-8bb4-12646b32320d"
            },
            {
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "dae2f184-cb00-4588-a23c-1930cb23cc3e"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6b94079e-bf84-4e07-a8ac-a404337ee8c7",
      "name": "Filter Unsent Leads",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {},
      "id": "cef15c50-f753-4837-a108-60390dfea2ab",
      "name": "Done Processing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You have a new lead to contact. Here are their details:\n\nLead Name: {{ $json.Name }}\nCompany: {{ $json.Company }}\nBusiness: {{ $json.Business }}\nEmail: {{ $json.Email }}\nPain Point: {{ $json['Issue or Pitch'] }}\n\nOur Product: We offer an AI-powered workflow automation platform that saves businesses 10+ hours per week by eliminating repetitive manual tasks.\n\n---\n\nSTEP 1 — Write a cold outreach email using this exact structure:\n\n1. HOOK (1–2 lines)\n   Open with a bold, pattern-interrupting statement that speaks directly to their pain point or industry reality. Make them stop and read.\n\n2. SANDWICH TECHNIQUE\n   - Top slice: Empathize with their specific struggle (reference their business/pain point)\n   - Filling: Introduce our solution naturally, with a specific result or benefit\n   - Bottom slice: Reinforce their potential outcome if they take action\n\n3. MEETING ASK\n   End with a soft, low-friction ask for a short meeting.\n   Do NOT use a Calendly link.\n   Instead, ask: \"Would you be open to a quick 15-minute call this week to explore if this could work for you?\"\n\nRules:\n- Under 180 words\n- Friendly, human tone — never robotic\n- Reference their specific industry or pain point\n- No Calendly link\n- Sign off: Zeeshan Ali | P2PClouds | p2pclouds@gmail.com\n\n---\n\nSTEP 2 — Use the Gmail Send Email tool to send this email to {{ $json.Email }} with a compelling, personalized subject line.\nIn Last also Update lead in Sheet",
        "options": {
          "systemMessage": "You are a world-class B2B sales AI agent specializing in cold email outreach. Your job is to write and send highly personalized cold emails to leads using proven copywriting frameworks.\n\nYou always write emails that feel human, warm, and specific — never robotic or generic. You follow the exact structure given to you and never skip steps."
        }
      },
      "id": "41511022-e309-4d36-8f56-aa11aba37c54",
      "name": "Outreach Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        960,
        192
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "id": "d1fb889d-45d6-40e6-a9eb-cb912db46472",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        896,
        416
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 30000,
      "credentials": {
        "groqApi": {
          "id": "STTau9zyp4lf4FLr",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('recipient', 'Email address of the recipient') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('subject', 'Email subject line') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Full formatted HTML email body content`, 'string') }}",
        "options": {}
      },
      "id": "c666ca14-a007-46d7-9e6f-5dac3b1ddbb1",
      "name": "Gmail Send Email",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1024,
        416
      ],
      "webhookId": "dfeda27b-dcec-4250-ba36-2425906c4d07",
      "credentials": {
        "gmailOAuth2": {
          "id": "BHPJev8gVDLC1kCo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HGGw4AsgsrU3tv9iJnDbxsw-fvYyTDkSmeMF5YeMgtE",
          "mode": "list",
          "cachedResultName": "USA Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGGw4AsgsrU3tv9iJnDbxsw-fvYyTDkSmeMF5YeMgtE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1599563864,
          "mode": "list",
          "cachedResultName": "Outreach Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGGw4AsgsrU3tv9iJnDbxsw-fvYyTDkSmeMF5YeMgtE/edit#gid=1599563864"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', 'The email address of the lead whose row should be updated', 'string') }}",
            "Email Sent": "Yes",
            "ai_reply_sent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ai_reply_sent', 'The full text of the outreach email that was sent', 'string') }}",
            "ai_reply_preview": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ai_reply_preview', 'First 100 characters of the outreach email', 'string') }}",
            "stage": "Email Sent"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_reply_sent",
              "displayName": "ai_reply_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_reply_preview",
              "displayName": "ai_reply_preview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c38753ab-51b3-4334-b4fe-5949d0265377",
      "name": "Google Sheets Update Sent Status",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1152,
        416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WDKIfNajZLEv2DbR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "d17fc2a5-8f4a-4d69-ab21-084de0e080b0",
      "name": "Wait 15 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        416
      ],
      "webhookId": "47fa07f7-1513-47e3-b743-ffecc38fdf2d"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e2611f6d-0aa7-4c20-aeba-42104abc7d75",
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "d8c21891-c122-40a1-a705-ad2dd60da0b7",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        752
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BHPJev8gVDLC1kCo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  let fromField = item.json.from || '';\n  \n  // Handle if from is an object or array\n  if (typeof fromField === 'object') {\n    fromField = fromField?.email || fromField?.value?.[0]?.address || JSON.stringify(fromField);\n  }\n  \n  // Now safely convert to string\n  fromField = String(fromField);\n  \n  const emailMatch = fromField.match(/<(.+?)>/);\n  const senderEmail = emailMatch ? emailMatch[1] : fromField.trim();\n  \n  results.push({\n    json: {\n      threadId: item.json.threadId,\n      messageId: item.json.id,\n      senderEmail: senderEmail.toLowerCase().trim(),\n      replyBody: item.json.text || item.json.snippet || '',\n      subject: item.json.subject || ''\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "3ecd2dd6-cddf-43b0-971c-ea0866afe61f",
      "name": "Extract Reply Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        752
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HGGw4AsgsrU3tv9iJnDbxsw-fvYyTDkSmeMF5YeMgtE",
          "mode": "list",
          "cachedResultName": "USA Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGGw4AsgsrU3tv9iJnDbxsw-fvYyTDkSmeMF5YeMgtE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1599563864,
          "mode": "list",
          "cachedResultName": "Outreach Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGGw4AsgsrU3tv9iJnDbxsw-fvYyTDkSmeMF5YeMgtE/edit#gid=1599563864"
        },
        "options": {}
      },
      "id": "ae0aa53a-202e-4b4b-8df1-e7bee934d4ff",
      "name": "Read Google Sheet for Match",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        752
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WDKIfNajZLEv2DbR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const replyData = $('Extract Reply Info').first().json;\nconst leads = $input.all();\n\nconst matchedLead = leads.find(item => item.json.Email === replyData.senderEmail);\n\nif (!matchedLead) {\n  return [{ json: { found: false } }];\n}\n\nreturn [{\n  json: {\n    found: true,\n    name: matchedLead.json.Name,\n    company: matchedLead.json.Company,\n    business: matchedLead.json.Business,\n    issueorpitch: matchedLead.json[\"Issue or Pitch\"],\n    email: matchedLead.json.Email,\n    threadId: replyData.threadId,\n    messageId: replyData.messageId,\n    replyBody: replyData.replyBody,\n    subject: replyData.subject\n  }\n}];"
      },
      "id": "4788229e-ea53-48d7-b145-5fe9f324b2a7",
      "name": "Match Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "7e172a72-5a46-40b5-a992-b72f5abbf9e3"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55e45626-3f45-4dc6-94b2-cbb7876721a1",
      "name": "Check If Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        752
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A lead has replied to your outreach email. Here are all the details:\n\nLEAD PROFILE:\nName: {{ $json.name }}\nCompany: {{ $json.company }}\nBusiness: {{ $json.business }}\nIssue or Pitch: {{ $json.issueorpitch }}\nEmail: {{ $json.email }}\nGmail Thread ID: {{ $json.threadId }}\nOriginal Message ID: {{ $json.messageId }}\n\nTHEIR REPLY:\n{{ $json.replyBody }}\n\n---\n\nFollow these steps exactly:\n\nSTEP 1 — CLASSIFY their reply intent as one of:\nINTERESTED / WANTS_MEETING / OBJECTION / NOT_INTERESTED / QUESTION\n\n---\n\nSTEP 2 — WRITE A CONVINCING REPLY based on the classification:\n\n- INTERESTED:\n  Express genuine excitement. Tell them a quick 15-minute call is all it \n  takes to see if this is a fit. Ask them directly: \"What days work best \n  for you this week?\" Make it feel effortless to say yes.\n\n- WANTS_MEETING:\n  Confirm enthusiasm, suggest 2–3 specific day options this week \n  (e.g., \"Tuesday or Wednesday afternoon?\"), and ask them to pick \n  what works. Keep it warm and easy.\n\n- OBJECTION:\n  Acknowledge their concern with empathy — never argue. Reframe the \n  value in one sentence tied to their specific pain point. Then offer \n  a no-pressure ask: \"Even 15 minutes, no pitch — just a quick look \n  at whether this solves what you're dealing with. Worth it?\"\n\n- QUESTION:\n  Answer clearly and specifically. Tie the answer back to their pain \n  point. End by asking: \"Would a quick call this week make sense to \n  go deeper on this?\"\n\n- NOT_INTERESTED:\n  Thank them warmly and gracefully. Leave the door open: \n  \"Totally understand — if anything shifts down the road, I'm here.\" \n  No hard push. End on a positive note.\n\nRules:\n- Under 120 words\n- Friendly, conversational, human tone\n- NO Calendly link — ask for their availability instead\n- Sign off: Zeeshan Ali | P2PClouds\n\n---\n\nSTEP 3 — Use the Gmail Reply Tool to send your reply to \nthread ID {{ $json.threadId }} and message ID {{ $json.messageId }}\n\n---\n\nSTEP 4 — MEETING CONFIRMATION CHECK:\nOnly perform this step if the lead's reply CONFIRMS a meeting \n(classification = WANTS_MEETING and they gave a specific date/time, \nOR they explicitly said yes to a meeting time you proposed).\n\nIf meeting IS confirmed → Use the Excel/Google Sheets Update Tool with:\n- email: {{ $json.email }}\n- name: {{ $json.name }}\n- company: {{ $json.company }}\n- meeting_confirmed: YES\n- meeting_date: [date extracted from their reply in YYYY-MM-DD format]\n- meeting_time: [time extracted from their reply]\n\nIf meeting is NOT confirmed → Skip STEP 4 entirely. Do not log anything.",
        "options": {
          "systemMessage": "=You are a world-class B2B sales AI agent handling warm reply conversations. \nYour job is to read a lead's reply, understand their intent, and respond in \na way that feels human, empathetic, and persuasive — always steering toward \nbooking a meeting. You never use Calendly links, Never start with Hi or greetings and reply in formatted syled html body. You convince through value, \nnot pressure."
        }
      },
      "id": "30eea59d-0591-478f-b661-a32f7527b2a8",
      "name": "Reply Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        752
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "id": "9129fcdc-ea9d-4576-8bcc-36c820685dc2",
      "name": "Groq Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1120,
        976
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 30000,
      "credentials": {
        "groqApi": {
          "id": "STTau9zyp4lf4FLr",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('messageId', 'The Gmail message ID to reply to') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Full formatted styled HTML reply message content`, 'string') }}",
        "options": {}
      },
      "id": "807e4f80-fa22-4742-8420-b6c9606984d3",
      "name": "Gmail Reply Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1248,
        976
      ],
      "webhookId": "2006fbda-e7dc-45d6-86fb-ef1570975ba1",
      "credentials": {
        "gmailOAuth2": {
          "id": "BHPJev8gVDLC1kCo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jr1RQDibYGSeSFlDfJu0gnPxTtnlTjBSQLkAhD0VHGk",
          "mode": "list",
          "cachedResultName": "USA Leads ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jr1RQDibYGSeSFlDfJu0gnPxTtnlTjBSQLkAhD0VHGk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jr1RQDibYGSeSFlDfJu0gnPxTtnlTjBSQLkAhD0VHGk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reply_received": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reply_received', 'Reply received status (YES)') }}",
            "last_reply_date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('last_reply_date', 'Date of last reply (YYYY-MM-DD)') }}",
            "ai_reply_sent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ai_reply_sent', 'AI reply sent status (YES)') }}",
            "ai_reply_preview": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ai_reply_preview', 'First 100 characters of AI reply') }}",
            "gmail_thread_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('gmail_thread_id', 'Gmail thread ID') }}",
            "Email": "={{ $json.email }}",
            "stage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('stage', `Lead Stage Whether it is Pre Mature, Positive, Mature, Converted etc`, 'string') }}",
            "meeting confimed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('meeting_confimed', `Meeting Confirmed Yes or No `, 'string') }}",
            "meeting date and time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('meeting_date_and_time', `If COnfirmed then its Date and Time`, 'string') }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Sr#",
              "displayName": "Sr#",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Business",
              "displayName": "Business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Issue or Pitch",
              "displayName": "Issue or Pitch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reply_received",
              "displayName": "reply_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_reply_date",
              "displayName": "last_reply_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_reply_sent",
              "displayName": "ai_reply_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_reply_preview",
              "displayName": "ai_reply_preview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmail_thread_id",
              "displayName": "gmail_thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "meeting confimed",
              "displayName": "meeting confimed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "meeting date and time",
              "displayName": "meeting date and time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "42b7cc4b-661b-4e73-9627-7877b3800215",
      "name": "Google Sheets Update Reply Status",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1376,
        976
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WDKIfNajZLEv2DbR",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily at 9 AM": {
      "main": [
        [
          {
            "node": "Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet": {
      "main": [
        [
          {
            "node": "Filter Unsent Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unsent Leads": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outreach Agent": {
      "main": [
        [
          {
            "node": "Wait 15 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Outreach Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send Email": {
      "ai_tool": [
        [
          {
            "node": "Outreach Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Update Sent Status": {
      "ai_tool": [
        [
          {
            "node": "Outreach Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15 Seconds": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Leads": {
      "main": [
        [
          {
            "node": "Done Processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outreach Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract Reply Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply Info": {
      "main": [
        [
          {
            "node": "Read Google Sheet for Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet for Match": {
      "main": [
        [
          {
            "node": "Match Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Lead": {
      "main": [
        [
          {
            "node": "Check If Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Found": {
      "main": [
        [
          {
            "node": "Reply Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Reply Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Reply Tool": {
      "ai_tool": [
        [
          {
            "node": "Reply Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Update Reply Status": {
      "ai_tool": [
        [
          {
            "node": "Reply Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "08d1ecda-4aa6-476f-b13a-5a9e102be5f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "647e0ac74095742159e3cfd97824ed647da19ac1fbbe3ff761e82cdbf5133d02"
  },
  "nodeGroups": [],
  "id": "ntT3duvHrkg0UnGM",
  "tags": []
}